.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.hero-img {
    width: 560px;
height: 600px;
background-repeat:no-repeat;
  background-image: url("../../assets/hero.jpg");
}
.hero-texts{
    gap: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 575px;

}
.hero-texts h1{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.hero-texts p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}