nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;

}

nav ul li a {
        padding-bottom: 15px;
    text-decoration: none;
    color:white;
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-bottom: 3px solid transparent;
transition: all  0.3s linear;
}
nav ul li a:hover {
    border-color:white;
}
